$containerMaxWidth: 1278px;
$containerPadding: 0 30px;

$colorAqua: #4C858B;
$colorDarkAqua: #215359;
$colorUltraDarkAqua: #0C2F33;
$colorBlack: #000;
$colorWhite: #fff;
$colorGray: #E5E5E5;
$colorLightGray: #B1B1B1;
$colorRed: #E33E54;
$colorDarkRed: #AE2236;
$colorOrange: #EA6628;