
footer.footer 
  .container 
    .footer__wrapper 
      .footer__block
        h2.footer__title КАТАЛОГ
        ul.footer__list 
          li.footer__item
            a.footer__link(href="#")  Дымоходы
          li.footer__item
            a.footer__link(href="#")  Дымососы
          li.footer__item
            a.footer__link(href="#")  Печи для дома
          li.footer__item
            a.footer__link(href="#")  Печи для бани
          li.footer__item
            a.footer__link(href="#")  Камины
          li.footer__item
            a.footer__link(href="#")  Силикат кальция
          li.footer__item
            a.footer__link(href="#")  Котлы
          li.footer__item
            a.footer__link(href="#")  Еще
      .footer__block 
        h2.footer__title ИНФОРМАЦИЯ
        ul.footer__list 
          li.footer__item
            a.footer__link(href="#")  Каталог
          li.footer__item
            a.footer__link(href="#")  Установка и монтаж
          li.footer__item
            a.footer__link(href="#")  Отзывы
          li.footer__item
            a.footer__link(href="#")  Ликвидация товара
          li.footer__item
            a.footer__link(href="#")  Полезное
          li.footer__item
            a.footer__link(href="#")  Контакты
          li.footer__item
            a.footer__link(href="#")  Оплата и доставка
      .contacts.footer__block
        h2.footer__title ВРЕМЯ РАБОТЫ
        .contacts__time
          span.contacts__days пн-пт 
          span 9:00 - 20:00 
          span.contacts__days сб-вс 
          span 10:00 - 18:00
        address.contacts__address г. Санкт-Петербург, ул. Тамбасова д.7
        ul.socials
          li.socials__item
            a(href="#")
              svg.socials__icon
                use(xlink:href="/assets/images/sprite.svg#vk") 
          li.socials__item
            a(href="#")
              svg.socials__icon
                use(xlink:href="/assets/images/sprite.svg#telegram") 
          li.socials__item
            a(href="#")
              svg.socials__icon
                use(xlink:href="/assets/images/sprite.svg#instagram") 
          li.socials__item
            a(href="#")
              svg.socials__icon
                use(xlink:href="/assets/images/sprite.svg#whatsapp")
        